{% extends 'base.html' %}
{% block titulo %}Encuestas{% endblock titulo %}
{% block contenido %}
<div class="container">
	<h1>Lista de encuestas</h1>
	<a href="{% url 'polls:pregunta_create' %}" class="btn btn-sm btn-dark mt-2 mb-2">Crear pregunta</a>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Modificacion</th>
						<th>Detalle</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					{% for pregunta in preguntas %}
						<tr>
							<th>{{ pregunta.id }}</th>
							{% if pregunta.creacion != pregunta.modificacion %}
								<td>{{ pregunta.titulo }} (editado)</td>
							{% else %}
								<td>{{ pregunta.titulo }}</td>
							{% endif %}
							<td>{{ pregunta.creacion }}</td>
							<td>{{ pregunta.modificacion }}</td>
							<td><a href="{% url 'polls:detalle' pregunta.id %}">Ver</a></td>
							<td><a href="{% url 'polls:pregunta_update' pregunta.id %}">Editar</a></td>
							<td><a href="{% url 'polls:pregunta_delete' pregunta.id %}">Eliminar</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock contenido %}
