{% extends 'base.html' %}
{% block titulo %}Encuestas{% endblock titulo %}
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col mt-2 mb-2">
			<h1>Lista de preguntas</h1>
			<a href="{% url 'polls:pregunta_create' %}" class="btn btn-sm btn-dark mt-2 mb-2">Crear pregunta</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table text-center">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Modificacion</th>
						<th>Detalle</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					{% for pregunta in preguntas %}
					<tr>
						<th>{{ pregunta.id }}</th>
						<td>{{ pregunta.titulo }}</td>
						<td>{{ pregunta.creacion }}</td>
						<td>{{ pregunta.modificacion }}</td>
						<td><a href="{% url 'polls:detalle' pregunta.id %}"><i class="far fa-eye"></i></a></td>
						<td><a href="{% url 'polls:pregunta_update' pregunta.id %}"><i class="fas fa-pencil-alt"></i></a></td>
						<td><a href="{% url 'polls:pregunta_delete' pregunta.id %}"><i class="far fa-trash-alt"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock contenido %}
